body.page-template-page_witte,
body.page-template-page_witte-php {
    margin: 0;
}

/* TODO: 100vh must be set only for desktop view. */
#primary-witte {
    height: 100vh;
    padding: 20px;
    background-color: #e6feff;
}

#primary-witte > .info {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 32px;
}

#primary-witte > .info .left .title {
    margin: 0;
    text-align: center;
    font-size: 48px;
    color: #5276af;
}

#primary-witte > .info .left .time {
    margin: 0;
    text-align: center;
    font-size: 32px;
    color: #5276af;
}

#primary-witte > .meals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    gap: 30px 30px;
    grid-auto-flow: row;
}

#primary-witte > .meals .meal {
    padding: 20px 30px;
}

#primary-witte > .meals .meal.lunch {
    border-top: 8px solid #5276af;
    border-right: 8px solid #5276af;
}

#primary-witte > .meals .meal.dinner {
    border-top: 8px solid #5276af;
    border-left: 8px solid #5276af;
}

#primary-witte > .meals .meal > .title {
    margin: 10px auto 20px auto;
    text-align: center;
    font-size: 32px;
    color: #8a9aa6;
}

#primary-witte > .meals .meal > .courses .course .info {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 14px;
}

#primary-witte > .meals .meal > .courses .course .info .left {
    flex-basis: 60%;
}

#primary-witte > .meals .meal > .courses .course .info .right {
    flex-basis: 40%;
}

#primary-witte > .meals .meal > .courses .course .info .left > .translations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 8px;
}

#primary-witte > .meals .meal > .courses .course .info .left > .translations .title {
    margin: 5px auto 10px auto;
    text-align: center;
    font-size: 24px;
    color: #afaf59;
}

#primary-witte > .meals .meal > .courses .course .info .right img {
    width: 300px;
    height: 300px;
}
