/* Mobile first size */
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* General */
body.page-template-page_witte,
body.page-template-page_witte-php {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#page-witte {
    min-width: 320px;
    margin: auto;
}

#page-witte .container {
    max-width: 960px;
    margin: auto;
}

/* Header */
#masthead-witte {
    padding: 10px;
    background-color: #e6feff;
}

#masthead-witte > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#masthead-witte > .info .left,
#masthead-witte > .info .right {
    margin: 8px 4px;
}

#masthead-witte > .info .left img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#masthead-witte > .info .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#masthead-witte > .info .right .title-subtitle {
    margin: 8px 4px;
}

#masthead-witte > .info .right .title-subtitle .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    color: #1f9cfb;
}

#masthead-witte > .info .right .title-subtitle .title .separator {
    display: none;
    font-weight: 400;
}

#masthead-witte > .info .right .title-subtitle .subtitle {
    text-align: center;
    line-height: 1.2;
    font-size: 34px;
    font-weight: 400;
    color: #1f9cfb;
}

#masthead-witte > .info .right .date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 4px;
    font-size: 26px;
    font-weight: bold;
    color: #1f9cfb;
}

#masthead-witte > .info .right .date-time .separator {
    font-weight: 400;
}

/* Content */
#primary-witte {
}

#primary-witte > .meals {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr;*/
    gap: 10px 10px;
    grid-auto-flow: row;
    min-height: 300px;
    padding: 20px;
}

#primary-witte > .meals .meal {
    border-bottom: 3px solid #1d70a2;
}

#primary-witte > .meals .meal:last-child {
    border-bottom: 0;
}

#primary-witte > .meals .meal > .title {
    margin: 10px auto 15px auto;
    text-align: center;
    font-size: 32px;
    color: #0368b5;
}

#primary-witte > .meals .meal > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto 15px auto;
    font-size: 32px;
    text-align: center;
    color: #0368b5;
    font-weight: 700;
}

#primary-witte > .meals .meal > .info .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#primary-witte > .meals .meal > .info .right .separator {
    display: none;
}

#primary-witte > .meals .meal > .courses .course {
    margin: 15px 0;
}

#primary-witte > .meals .meal > .courses .course .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#primary-witte > .meals .meal > .courses .course .info .left {
    max-width: 400px;
}

#primary-witte > .meals .meal > .courses .course .info .left img {
    vertical-align: middle;
}

#primary-witte > .meals .meal > .courses .course .info .right > .translations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#primary-witte > .meals .meal > .courses .course .info .right > .translations .translation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px auto 10px auto;
    font-size: 24px;
    color: #0473c8;
}

#primary-witte > .meals .meal > .courses .course .info .right > .translations .translation .language {
    font-weight: bold;
    margin: 0 20px 0 20px;
}

#primary-witte > .meals .meal > .courses .course .info .right > .translations .translation .title {
    margin: 0 20px 0 0;
    text-align: center;
}

/* Footer */
#footer-witte {
    padding: 30px 20px 20px 20px;
    background-color: #e6feff;
}

#footer-witte > .message {
    font-size: 28px;
    text-align: center;
    color: #0473c8;
}

/* Small size */
@media screen and (min-width: 576px) {
}

/* Medium size */
@media screen and (min-width: 768px) {
    /* Header */
    #masthead-witte > .info .left img {
        max-width: 150px;
        max-height: 150px;
        width: auto;
        height: auto;
    }

    #masthead-witte > .info {
        flex-direction: row;
        justify-content: space-around;
    }

    #masthead-witte > .info .right .title-subtitle .title {
        line-height: normal;
        font-size: 46px;
    }

    #masthead-witte > .info .right .title-subtitle .subtitle {
        line-height: normal;
        font-size: 36px;
    }

    #masthead-witte > .info .right .date-time {
        font-size: 30px;
    }

    /* Content */
    #primary-witte > .meals .meal > .info .right {
        flex-direction: row;
    }

    #primary-witte > .meals .meal > .info .right .separator {
        display: inline;
    }

    /* Footer */
    #footer-witte {
        padding: 20px;
    }
}

/* iMac 5,1 size */
/* @link https://stackoverflow.com/questions/14242368/targeting-specific-resolution-css-media-query */
@media screen and (min-width: 1680px) and (max-width: 1680px)
and (min-height: 1050px) and (max-height: 1050px) {
    /* General */
    #page-witte {
        position: relative;
        max-width: 1680px;
        width: 1680px;
        height: 100vh;
    }

    #page-witte .container {
        max-width: 1680px;
        margin: auto;
    }

    /* Header */
    #masthead-witte > .info .left,
    #masthead-witte > .info .right {
        margin: 0 30px;
    }

    #masthead-witte > .info .right {
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
    }

    #masthead-witte > .info .right .title-subtitle {
        flex-grow: 1;
        margin: 8px 0;
    }

    #masthead-witte > .info .right .title-subtitle .title {
        flex-direction: row;
    }

    #masthead-witte > .info .right .title-subtitle .title .separator {
        display: inline;
    }

    #masthead-witte > .info .right .date-time {
        flex-direction: column;
        align-items: flex-end;
        margin: 8px 0;
    }

    #masthead-witte > .info .right .date-time .separator {
        display: none;
    }

    /* Content */
    #primary-witte > .meals {
        grid-template-columns: 1fr 1fr;
        /*grid-template-rows: 1fr 1fr;*/
    }

    #primary-witte > .meals .meal {
        animation-name: mealAnimation;
        animation-duration: 0.3s;
        animation-timing-function: linear;
    }

    @keyframes mealAnimation {
        0% {
            margin-top: 200px;
            opacity: 0;
        }
        50% {
            margin-top: 100px;
            opacity: 0.5;
        }
        100% {
            margin-top: 0;
            opacity: 1;
        }
    }

    #primary-witte > .meals .meal.lunch {
        border-top: 6px solid #1d70a2;
        border-right: 6px solid #1d70a2;
        border-bottom: 0;
    }

    #primary-witte > .meals .meal.dinner {
        border-top: 6px solid #1d70a2;
        border-left: 6px solid #1d70a2;
        border-bottom: 0;
    }

    #primary-witte > .meals .meal > .courses .course:first-child {
        border-bottom: 0;
    }

    #primary-witte > .meals .meal > .courses .course .info {
        flex-direction: row-reverse;
    }

    #primary-witte > .meals .meal > .courses .course .info .left {
        flex-basis: 60%;
    }

    #primary-witte > .meals .meal > .courses .course .info .right {
        flex-basis: 40%;
    }

    /* Footer */
    #footer-witte {
        position: absolute;
        bottom: 85px;
        right: 50%;
        transform: translate(50%, 50%);
    }
}
